# data
data/raw/*
data/processed/*
data/refined/*
data/external_metadata/*
!data/README.md

# logs
logs/*
!logs/__init__.py
!logs/set_logger.py

# model scripts
ml_model_scripts/transformers_architecture.json

# models
models/*

# fifa ranking
ai_fifa_ranking.csv